.bg-blueGray-200 {
    --tw-bg-opacity: 1;
    background-color:rgba(226,232,240,var(--tw-bg-opacity))
  }

.text-lightBlue-400{
    --tw-text-opacity: 1;
    color:rgba(56,189,248,var(--tw-text-opacity))  
}

.text-lightBlue-600{
    --tw-text-opacity: 1;
    color:rgba(2,132,199,var(--tw-text-opacity))
}

.bg-canvas-overlay {
    background-color: #161b22;
}

.clear {
    clear: both;
}

/* test */
.mh-posts-list-item {
    padding-bottom: 20px;
    margin-top: 20px;
    border-bottom: 1px solid #ebebeb;
}

.clearfix {
    display: block;
}

.mh-posts-list-thumb {
    position: relative;
    float: left;
    margin-right: 20px;
}

.figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

.mh-thumb-icon {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

a {
    color: #000;
    text-decoration: none;
}

.mh-image-caption {
    position: absolute;
    top: 0;
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: 700;
    color: #fff;
    padding: 5px 10px;
    background: #e64946;
    text-transform: uppercase;
}

.mh-posts-list-header {
    margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    color: #000;
    line-height: 1.3;
    font-weight: 700;
}

h3 {
    font-size: 20px;
    font-size: 1.25rem;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.entry-meta {
    margin-top: 5px;
}

.mh-meta, .mh-meta a {
    color: #979797;
}

.mh-meta {
    font-size: 13px;
    font-size: 0.8125rem;
}

.mh-meta span {
    margin-right: 10px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mh-posts-list-excerpt {
    overflow: hidden;
}

.open {
    display: block;
}

.bg-content {
    background-color: #002244;
}

.bg-test {
    background-image: url("http://hus.vnu.edu.vn/DATA/IMAGES/2020/10/received_2704737019800928.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;

}




 /* view page */
.page {
    direction: ltr;
    /* width: 816px; */
    height: max-content;
    /* margin: 1px  1p 0; */
    position: relative;
    overflow: visible;
    border: 9px solid transparent;
    background-clip: content-box;
    -webkit-border-image: url(images/shadow.png) 9 9 repeat;
    -o-border-image: url(images/shadow.png) 9 9 repeat;
    border-image: url(images/shadow.png) 9 9 repeat;
    background-color: rgba(255, 255, 255, 1);
}

.Tieu-de-trang {
    padding: 32px 0;
}

.max-w-50 {
    max-width: 50%;
}

.w-60 {
    width: 60%;
}

.w-50 {
    width: 50%;
}

.w-30{
    max-width: 30%;
}

.border-t-1 {
    border-top: 1px solid #ccc;
}

.border-b-1 {
    border-bottom: 1px solid #ccc;
    
}

/* header */

.bg-header {
    background-color: #dee5e7;
}

.shadow-header {
    box-shadow: 0 10px 10px rgb(0 0 0 / 5%);
    
}

/* css đề thi */

.Khoa {
    margin: 16px 0;
}

.button-phan-loai {
    font-size: 24px;
    font-weight: 500;
    padding: 0px 12px;
    border-bottom: 1px solid #ccc;
}

.Ten-khoa {
    padding: 6px 12px;
}

.icon-down {
    margin: 0 4px;
}

.Ten-khoa:hover {
    background-color: white;
    cursor: pointer;
    border-radius: 8px;
}

.Ten-khoa:hover .cac-nganh {
    display: block;
} 

.cac-nganh {
    display: none;
}

.nganh {
    padding: 2px 20px;
}

.nganh:hover{
    background-color: lightgray;
    cursor: pointer;
}

.cac-nganh:hover {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background-color: white;
    /* border-radius: 8px; */
}