.bg-blueGray-200 {
    --tw-bg-opacity: 1;
    background-color:rgba(226,232,240,var(--tw-bg-opacity))
  }

.text-lightBlue-400{
    --tw-text-opacity: 1;
    color:rgba(56,189,248,var(--tw-text-opacity))  
}

.text-lightBlue-600{
    --tw-text-opacity: 1;
    color:rgba(2,132,199,var(--tw-text-opacity))
}